header{
    width: 100%;
    background-color: rgb(68, 68, 179);
    box-sizing: border-box;
    padding: 5px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.425);
    margin-bottom: 20px;
}

header input, header div{
    display: inline-block;
    white-space: unset
}

header div{
    width: 50%;
    margin-left: 10%;
}

header input:first-of-type{
    width: 90%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    padding: 3px;
    color: white;
    font-size: 22px;
}

header input:last-of-type{
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    font-size: 17px;
    border-radius: 3px;
}

header input::placeholder{
    color: rgb(255, 255, 255);
}

header input:last-of-type:hover{
    background-color: rgba(0, 0, 0, 0.185)
}

header nav{
    display: inline-block;
    width: 30%;
    text-align:right;
    margin-right: 10%;
}

header nav li{
    display: inline-block;
}

header a{
    padding: 3px 10px;
    color: white;
}

header a:hover{
    border-bottom: 1px solid white;
}