main{
    width: 80%;
    margin: 0 10%;
}

p{
    font-size: 17px;
    color: white
}

h1{
    font-weight: 100;
    color: white;
    font-size: 60px;
    margin-top: -20px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

h2{
    color: #939393;
    font-weight: 100;
    margin-bottom: 10px;
}

section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    cursor: pointer;
    margin-bottom: 20px;
}

section app-title{
    margin: 10px;
    transition: 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

section app-title:hover{
    transform: scale(1.18)
}

div p{
    font-size: 67px;
    text-align: center;
    color: #353535
}